{% extends "elements/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheet %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Add modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Personnel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_form" action="add/" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="{{ personnel_form.national_id.id_for_label }}">National ID</label>
                            {{ personnel_form.national_id }}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ personnel_form.first_name.id_for_label }}">First Name</label>
                                {{ personnel_form.first_name }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ personnel_form.last_name.id_for_label }}">Last Name</label>
                                {{ personnel_form.last_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ personnel_form.email.id_for_label }}">Email</label>
                            {{ personnel_form.email }}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label for="{{ personnel_form.department.id_for_label }}">Department</label>
                                {{ personnel_form.department }}
                            </div>
                            <div class="form-group col-md-2 text-center">
                                <label for="{{ personnel_form.active.id_for_label }}">Active</label>
                                {{ personnel_form.active }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" form="add_form">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload modal -->
    {% include "elements/modal_import.html" %}

    <!-- Export modal -->
    {% include "elements/modal_export.html" %}

    <!-- Heading -->
    <h1 class="h3 mb-3 text-gray-800">{{ title }}</h1>

    <!-- Add button -->
    <button type="button" class="btn btn-success btn-icon-split mb-4" data-toggle="modal" data-target="#addModal">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add</span>
    </button>

    <!-- Import button -->
    <button type="button" class="btn btn-warning btn-icon-split mb-4" data-toggle="modal" data-target="#importModal">
        <span class="icon text-white-50">
            <i class="fas fa-file-import"></i>
        </span>
        <span class="text">Import</span>
    </button>

    <!-- Export button -->
    <button type="button" class="btn btn-danger btn-icon-split mb-4" data-toggle="modal" data-target="#exportModal">
        <span class="icon text-white-50">
            <i class="fas fa-file-export"></i>
        </span>
        <span class="text">Export</span>
    </button>

    <!-- Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% block table_tile %}{{ title }}{% endblock %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Last Activity</th>
                        <th>Active</th>
                        <th>Actions</th>
                        <th>QR Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personnel in personnel_list %}
                        <tr>
                            <td></td>
                            <td>{{ personnel.first_name }}</td>
                            <td>{{ personnel.last_name }}</td>
                            <td>{{ personnel.department }}</td>
                            <td>{{ personnel.last_activity|date:"Y-m-d | H:i:s" }}</td>
                            <td>
                                {% if personnel.active %}
                                    <a href="edit/{{ personnel.id }}/change_status"
                                       class="btn btn-success btn-circle btn-sm mr-1">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <span style="visibility: hidden">Yes</span>
                                {% else %}
                                    <a href="edit/{{ personnel.id }}/change_status"
                                       class="btn btn-outline-secondary btn-circle btn-sm mr-1">
                                        <i class="fas fa-times"></i>
                                    </a>
                                    <span style="visibility: hidden">No</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="edit/{{ personnel.id }}"
                                   class="btn btn-warning btn-circle btn-sm mr-1">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="delete/{{ personnel.id }}"
                                   class="btn btn-danger btn-circle btn-sm mr-1">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            <td>
                                <a href="edit/{{ personnel.id }}/send_qr_code"
                                   class="btn btn-outline-primary btn-circle btn-sm mr-1">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="edit/{{ personnel.id }}/renew_qr_code"
                                   class="btn btn-outline-primary btn-circle btn-sm mr-1">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            let t = $('#dataTable').DataTable({
                columnDefs: [
                    {searchable: false, orderable: false, targets: [0, 6, 7]},
                    {searchable: false, targets: [4, 5]}
                ],
                aLengthMenu: [[10, 25, -1], [10, 25, "All"]],
            });

            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
{% endblock %}
