<ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/customers/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-door-open"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Müsaade</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item {% if 'Customer' in title %} active {% endif %}">
        <a class="nav-link" href="/customers/">
            <i class="fas fa-fw fa-user"></i>
            <span>Personnel</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/logout/">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Logout</span></a>
    </li>
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>