{% extends "elements/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheet %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Add modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_form" action="add/" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ location_form.name.id_for_label }}">Name</label>
                                {{ location_form.name }}
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <label for="{{ location_form.qr_code_type.id_for_label }}">QR Code Type</label>
                                {{ location_form.qr_code_type }}
                            </div>
                            <div class="form-group col-md-2 text-center">
                                <label for="{{ location_form.active.id_for_label }}">Active</label>
                                {{ location_form.active }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ location_form.departments.id_for_label }}">Departments</label>
                            {{ location_form.departments }}
                        </div>
                        <div class="form-group">
                            <label for="{{ location_form.wireless_network.id_for_label }}">Access Point</label>
                            {{ location_form.access_point }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" form="add_form">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Heading -->
    <h1 class="h3 mb-3 text-gray-800">{{ title }}</h1>

    <!-- Add button -->
    <button type="button" class="btn btn-success btn-icon-split mb-4" data-toggle="modal" data-target="#addModal">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add</span>
    </button>

    <!-- Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% block table_tile %}{{ title }}{% endblock %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>QR Code Type</th>
                        <th>Last Activity</th>
                        <th>Active</th>
                        <th>Actions</th>
                        <th>QR Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for location in location_list %}
                        <tr>
                            <td></td>
                            <td>{{ location.name }}</td>
                            <td>{{ location.get_qr_code_type_display }}</td>
                            <td>{{ location.last_activity|date:"Y-m-d | H:i:s" }}</td>
                            <td>
                                {% if location.active %}
                                    <a href="edit/{{ location.id }}/change_status"
                                       class="btn btn-success btn-circle btn-sm mr-1">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <span style="visibility: hidden">Yes</span>
                                {% else %}
                                    <a href="edit/{{ location.id }}/change_status"
                                       class="btn btn-outline-secondary btn-circle btn-sm mr-1">
                                        <i class="fas fa-times"></i>
                                    </a>
                                    <span style="visibility: hidden">No</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="edit/{{ location.id }}"
                                   class="btn btn-warning btn-circle btn-sm mr-1">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="delete/{{ location.id }}"
                                   class="btn btn-danger btn-circle btn-sm mr-1">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            <td>
                                <a href="edit/{{ location.id }}/download_qr_code"
                                   class="btn btn-outline-primary btn-circle btn-sm mr-1">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            let t = $('#dataTable').DataTable({
                columnDefs: [
                    {searchable: false, orderable: false, targets: [0, 5, 6]},
                ],
                aLengthMenu: [[10, 25, -1], [10, 25, "All"]],
            });

            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
{% endblock %}
